.nav ul{
  list-style: none;
}
.nav li{
  display: inline-block;
  padding: 20px;}
img{
    width:300px;
}
.home-content img{
  width:100%;
}
.nav{
  background-color:green;
}
.nav ul li{
  padding-top:50px;

}

.activities img{
  width:500px;
}

img{
  width:100%;
}
.accomodation img{
  width:500px;
}
.pictures img{
  width:500px;
}
.arrangement img{
  width:100%;
}
.home-content{
  background-color: grey;
}
.nav ul li{
  padding-top: 15px;
}
.nav{
  background-color: yelow;
}
.accomodation{
  background-color: grey;
}

.About{
  background-color: grey;
}
.msitu img{
  width: 100%;
}
.nav{
  background-color: blue;
}
.nav{
  padding-top: 15px;
}
.nav{
  background-color: grey
}
.font1{
  font-style: italic;
}
.nav ul li{
  body
}
.font2{
  font-style: oblique;
  color: blue;

}
.green{
  color: green;
}
.green2{
  color: green;
}
h1{
  color: green;
  padding-top: 30px;
  background-color: grey;
  columns: 200px;
  display: grid;font-family: fantasy;

}


.
